include ../mixins/nav
include ../mixins/btn

- var links = data.header.links
- var logo = data.header.logo
- var buttons = data.header.btn

header.header
	.container
		.header__wrapper
			.header__logo
				a.header__logo-link(href='./')
					img(src= logo.src, alt= logo.alt)
			if links
				+nav(links, 'header')
			.header__info
				.header__search
					form.header__search-form(action='')
						input.header__search-input(type='search', placeholder='Search..')
						i.header__search-input-icon.fas.fa-search
				.header__buttons
					if buttons
						each button in buttons
							+btn(button, 'header__btn')
				.header__cart
					p.header__cart__text 
					| CART (0)