include ../mixins/card.pug

- var cards = data.products.cards

section.products
  .container
    .products__content
      h2.products__title FEATURED PRODUCTS
      .products__catalog
        .products__cards
          if cards
            each card in cards
              +card(card)