include ./btn

mixin card(card)
	if !card.mode
		.products__card
			.products__card-img
				img(src= card.image, alt= card.alt)
			.products__card-description
				.products__card-text
					span.products__card-title= card.description
					span.products__card-price $#{card.price}.00
				+btn('opencart', 'green')
	else
		.products__card(class= card.mode == 'sale' ? 'card-sale' : 'card-new')
			.products__card-img
				img(src= card.image, alt= card.alt)
			.products__card-description
				.products__card-text
					span.products__card-title= card.description
					span.products__card-price $#{card.price}.00
				+btn('opencart', 'green')